---
import Layout from "../layouts/MainLayout.astro";
import { Fade } from "react-awesome-reveal";
---

<Layout title="David Sanderson, Software Engineer">
	<Fade client:visible delay={350}>
		<h1>Hi, I am David Sanderson!</h1>
		<p>
			I am a software developer from Albuquerque, New Mexico. I enjoy music,
			design, and engineering creative solutions to interesting problems.
		</p>
	</Fade>
</Layout>
