---
import Layout from "../layouts/MainLayout.astro";
---


<Layout title="David Sanderson, Software Engineer">
	<h1>Hi, I am David Sanderson!</h1>
	<p>
		I am a software developer from Albuquerque, New Mexico. I enjoy music,
		design, and engineering creative solutions to interesting problems.
	</p>
</Layout>

<style>

	h1 {
		font-weight: 700;
    line-height: 1.125;
	}

	p {
		font-size: 18px;
		line-height: 1.7;
		font-weight: 700;
	}
</style>