---
import Layout from "../layouts/MainLayout.astro";
import { projectsData as projects } from "../data/projects";
---

<Layout title="David Sanderson | Projects">
  <h1>Projects</h1>
  {
    projects.map((el) => (
      <div class="card">{el.title}</div>
    ))
  }
</Layout>
