---
import Layout from "../layouts/MainLayout.astro";
---

<style>
  .container {
    display: flex;
  }
  .resume-btn {
    color: var(--c-black);
    background-color: var(--c-white);
    padding: 1em 1.5em;
    margin: 40px auto;
    display: inline-block;
    text-decoration: none;
    border: 3px solid;
    text-transform: uppercase;
    transition: all 0.25s ease-out 0s;
  }
</style>

<Layout title="David Sanderson | Resume">
  <div class="container">
    <a class="resume-btn" href="../../public/david-sanderson-resume-01-12-22.pdf">Resume</a>
  </div>
</Layout>
