---
// import BaseHead from '../components/BaseHead.astro';
// import Footer from '../components/Footer.astro';
const { title } = Astro.props;
import "../styles/reset.css";
import "../styles/variables.css";
import "../styles/global.css";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<style>
  body {
    display: grid;
    font-family: "Anonymous Pro", monospace;
    background-color: var(--c-black);
    color: var(--c-white);
    grid-template-columns: 1fr 440px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  main,
  footer {
    margin-top: 20px;
  }

  main {
    align-self: flex-start;
  }

  footer {
    font-size: 12px;
    align-self: end;
  }
  a {
    color: rgb(187, 153, 255);
    text-decoration: none;
    transition: all 0.3s ease-in;
  }

  a.active {
    color: white;
    font-size: 20px;
  }

  hr {
    width: 100%;
  }

  .content {
    display: grid;
    margin: 40px 20px 20px;
    grid-template-rows: 100px 1fr 200px;
  }

  .links {
    display: flex;
    gap: 32px;
  }

  .content {
    grid-column-start: 2;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- TODO: SEO -->
    <title>{title}</title>
  </head>
  <body>
    <div class="content">
      <nav>
        <div class="name">David Sanderson</div>
        <hr />
        <div class="title">Software Engineer</div>
        <div class="links">
          <a class={currentPath === "" ? "active" : ""} href="/">about</a>
          <a class={currentPath === "projects" ? "active" : ""} href="/projects"
            >projects</a
          >
          <a class={currentPath === "resume" ? "active" : ""} href="/resume"
            >resume</a
          >
        </div>
      </nav>
      <main>
        <slot />
        <!-- your content is injected here -->
      </main>
      <footer>
        <div>
          © {new Date().getFullYear()}, Built with <a
            target="_blank"
            href="https://docs.astro.build/en/getting-started/">Astro</a
          >, <a target="_blank" href="https://vercel.com">Vercel</a>, and plain
          ol' css.
        </div>
        <div>Developed with 💖 by <a href="">@_dsanderson</a></div>
      </footer>
    </div>
  </body>
</html>
