---
// import BaseHead from '../components/BaseHead.astro';
// import Footer from '../components/Footer.astro';
const { title } = Astro.props;
import "../styles/reset.css";
import "../styles/variables.css";
import "../styles/global.css";
import Nav from "../components/Nav";
import github from "/github-mark.svg"
import linkedIn from "/linked-in.svg"
import Stars from "../components/Stars/Stars";
import Switch from "../components/Switch/Switch";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<style>
 
  body {
    display: grid;
    font-family: "Anonymous Pro", monospace;
    background-color: var(--c-white);
    color: var(--c-black);
    grid-template-columns: 1fr 440px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .dark-mode {
    background-color: var(--c-black);
    color: var(--c-white);
  }



  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  main {
    margin-top: 5rem;
    align-self: flex-start;
  }

  footer {
    font-size: 12px;
    align-self: end;
  }
  hr {
    width: 100%;
  }

  .name {
    font-size: 20px;
  }

  .title {
    font-size: 24px;
  }

  .content {
    display: grid;
    margin: 80px 20px 20px;
    grid-template-rows: 100px 1fr 200px;
  }

  .links {
    display: flex;
    gap: 32px;
  }

  .content {
    grid-column-start: 2;
  }

  .socials {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: flex-start;
  }

  .logo {
    height: 25px;
    width: 25px;
  }

</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- TODO: SEO -->
    <title>{title}</title>
  </head>
  <body class="dark-mode">
    <Stars currentPath={currentPath} client:load />
    <div class="content">
      <nav>
        <!-- <Switch handleClick={() => null } client:load /> -->
        <div class="name">David Sanderson</div>
        <hr />
        <div class="title">Software Engineer</div>
        <div class="links">
          <Nav client:load />
        </div>
      </nav>
      <main>
        <slot />
        <!-- your content is injected here -->
      </main>
      <footer>
        <div>
          © {new Date().getFullYear()}, Built with <a
            target="_blank"
            href="https://docs.astro.build/en/getting-started/">Astro</a
          >, <a target="_blank" href="https://vercel.com">Vercel</a>, and plain
          ol' css.
        </div>
        <div>
          Developed with 💖 by <a
            target="_blank"
            href="https://twitter.com/_dsanderson">@_dsanderson</a>
        </div>
        <div class="socials">
          <a href="https://github.com/d-sanderson" target="_blank">
            <img class="logo" src={github} alt="Github" />
          </a>
          <a href="https://www.linkedin.com/in/d-sanderson/" target="_blank">
          <img class="logo" src={linkedIn} alt="LinkedIn" />
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>
