---
// import BaseHead from '../components/BaseHead.astro';
// import Footer from '../components/Footer.astro';
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- TODO: SEO -->
    <!-- <BaseHead title={title}/> -->
  </head>
  <body>
    <nav>
      <a href="/">About</a>
      <a href="/projects">Projects</a>
      <a href="/resume">Resume</a>
    </nav>
    <h1>{title}</h1>
    <main>
      <slot />
      <!-- your content is injected here -->
    </main>
    <footer>
      <div>© 2023, Built with Astro, Netlify, an plain ol css.</div>
      <div>Developed with 💖 by @_dsanderson</div>
    </footer>
    <!-- <Footer /> -->
  </body>
</html>
